@import url('https://fonts.googleapis.com/css?family=Roboto:300');

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    overflow: hidden;
}

.btn {
    padding: .8rem;
    border: none;
    font-size: 1rem;
}

.btn-orange {
    background-color: #F96816;
    color: #fff;
}

.btn-black {
    background-color: #181818;
    color: #fff;
    border: 1px solid #fff;
}

.btn-clear {
    background: none;
    border: 1px solid #fff;
    color: #fff;
}

body {
    background-color: #181818;
    color: #fff;
}

header {
    display: flex;
    height: 100vh;
}


#left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 4;    
}

#left img {
    padding: 1.5rem 0;
}

#left form {
    /* padding: 1.5rem 0; */
    width: 80%;
}

#left form > * {
    display: block;
    width: 100%;
    margin: 1rem 0;
}

#left form label {
    padding: .5rem 0;
    margin-bottom: 0;
}

#left form input {
    margin-top: 0;
    padding: .5rem;
    background-color: #181818;
    border: 1px solid #555555;
}

#left .links {
    padding: 1rem 0;
    text-align: center;
    width: 70%;
}

#left .links a {
    text-decoration: none;
    color: #fff;
    display: block;
    padding: .3rem;
}

#left .links .OR {
    color: #AAA;
    padding: 1rem 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#left .links .OR p {
    margin: 0 1rem;
}

#left .links .OR hr {
    flex-basis: 45%;
    border-color: #AAA;
}

#left .links button {
    width: 100%;
}

#left .copyright {
    margin: 1rem 0;
    color: #C1C6CC;
    text-align: center;
}
#left .copyright p {
    padding: .5rem;
}

#left .copyright a {
    color: #D55B17;
    padding: 0 .5rem;
    text-decoration: none;
}

#right {
    background-color: brown;
    height: 100%;
    flex: 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: url("https://image.ibb.co/cO9Lxq/login-bg.jpg") no-repeat center center/cover;
}

#right h1 {
    font-size: 3rem;
    font-weight: 300;
    padding: .5rem;
}

#right h1 span {
    font-weight: 700;
}

#right button {
    width: 50%;
    margin-top: 1rem;
}

@media(min-width: 1200px){
    #right {
        flex: 6;
    }
}

@media(max-width: 768px){
    #right {
        display: none;
    }
}

